{% from "_formhelpers.html" import render_field %}
<!doctype html>
<html>
  <head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"
  </head>
  <body>
  <div class="center">
  <h1>Selecione o minicurso que deseja participar</h1>
    <form method="post" enctype="multipart/form-data" class="">
      {{form.csrf_token}}
      <div>
      {{render_field(form.name)}}
      </div>
      <div>
      {{render_field(form.email)}}
      </div>
      <div>
      {{render_field(form.cpf)}}
      </div>
      <div>
      {{render_field(form.minicurso)}}
      </div>
      <p><input type=submit value=Enviar>
    </form>
    {% if message %}
    <div>
      <span class="alert">{{message}}</span>
    </div>
    {% endif %}

    <p>Abaixo está a lista de minicursos indicando a disponibilidade de vagas até o momento.</p>
    <p>Os cursos com o fundo de cor <span class="yes">...</span> estão com vagas disponíveis e os com fundo de cor <span class="no">...</span> estão com vagas esgotadas.</p>
    
    {% for i, titulo, quantidade in parcial_inscritos%}
      <div class ="titles {% if parcial_inscritos[i][2] <= max_participantes %}yes{% else %}no{% endif %}">{{titulo}}</div>
    {% endfor %}
    </div>
  </body>
</html>
